/* #00694B */
:root{
    --topNavAnimTime: 1s ;
    --fadeInTime: 1s;

    --fadeControls: var(--fadeInTime) var(--topNavAnimTime) forwards;

    --loadRightFade:  fade-in-right var(--fadeControls);
    --loadLeftFade:  fade-in-left var(--fadeControls);
    --loadUpFade:  fade-in-up var(--fadeControls);
    --loadDownFade:  fade-in-down var(--fadeControls);
    --loadFade: fade-in var(--fadeControls);

    --sideFadeDistance: 1000px;

    --accentcolor: #00BCD4;
    --darkprimary: #E64A19;
    --lightprimary: #FFCCBC;
    --textprimary: #212121;
    --primary: #ff5722;
    --secondarytext: #757575;
    --divider: #BDBDBD;



    overflow: hidden;
}


body{
    margin: 0%; 
    border: 0%;
}


.top-nav{
    list-style-type: none;
    background: var(--primary);
    text-align: center;
    animation: top-nav-slide var(--topNavAnimTime) 0.1s;
    animation-fill-mode: forwards;
    margin-top: 0%;

    
}

.top-nav:before{
    content: "";
    background-color: var(--darkprimary);
    height: 100px;
    width: 100%;
    text-align: center;
    top: -100px;
    position: absolute;
}

.top-nav li{
    display: inline-block;
}


.top-nav li:last-child{
    display: inline-block;
    margin-right: 50px;
}

.top-nav a{
    font-family: cursive;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
    float: left;
}


.top-nav a:before{
    position: absolute;
    top: 5px;
    transform: translateX(-5px);
    content: ' ';
    background: linear-gradient(
        2.5rad,
        var(--accentcolor),
        var(--accentcolor)
    );
    opacity: 0.3;
}
.not-current a:hover:before, li a:focus:before
{
    opacity: 0;
    animation: hoverAni .5s forwards;
}

.current a
{
    color: var(--secondarytext);
}


.load-left{
    opacity: 0;
    animation: var(--loadLeftFade);
}

.load-right{
    opacity: 0;
    animation: var(--loadRightFade);
}

.load-up{
    opacity: 0;
    animation: var(--loadUpFade);
}

.load-down{
    opacity: 0;
    animation: var(--loadDownFade);
}

.load-fade{
    opacity: 0;
    animation: var(--loadFade);
}



.main-content{
    text-align: center;
}

.profilepic{
    transition: border-radius 1s ease, filter 1s ease, width 1s ease, height 1s ease, transform 1s ease;
    border-radius: 100%;
    filter: grayscale(1) blur(2px);
    width: 250px;
    height: 250px;

}
.profilepic:hover{
    filter: grayscale(0) blur(0);


    border-radius: 25%;

    transform: rotate(6.28rad);
}


.iconlinks{
    list-style-type: none;
    margin-right: 2rem;

}


.iconlinks li{
    display: inline-block;
    padding: 10px;

}

.iconlinks a i{
    transition: all .2s ease;
}

.iconlinks a:hover i{

    transform: scale(1.25);
}

.main-content hr{
    margin-top: -2rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid var(--accentcolor);
    width: 20rem;
}

/* Portfolio Code */

h1{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: var(--textprimary);
}

.portfolio-container hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--accentcolor);
}

.portfolio-container{
    width: 90rem;
    margin: 2rem auto;
    font-size: 75.5%;
}

.gallery-item{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 1.5em;
    grid-auto-rows: minmax(150px, auto);
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}


.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-item:hover .image{
    filter: grayscale(1);
    transform: scale(1.1);
}

.gallery-item:hover .middle{
    opacity: 1;
}

.gallery-item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.text{
    color: white;
    font-size: 2.5em;
    padding: 16px 32px;
    font-family: Oswald, sans-serif;
}




@keyframes hoverAni {
    0%{
        height: 0%;
        width: 2px;
        opacity: 1;
    }
    25%, 30%{
        height: 80%;
        width: 2px;
        opacity: 1;
    }
    100%{
        width: 90%;
        height: 80%;
        opacity: 0.3;

    }

}



/* MEDIA QUERIES */


@media (max-width: 500px){
    .gallery-item{
        max-width: 100%;
        grid-column: 1;
        font-family: Oswald, sans-serif;
        text-align: left;
    }
    .portfolio-container{
        text-align: left;
        margin-left: 2em;
    }

    div.text{
        font-size: 2.5em;
    }

    .top-nav a{
        font-size: 5vw;
    }
}


/* KEYFRAMES */

@keyframes top-nav-slide{
    10%{
        height: 2px;
        width: 2px;
    }
    
    44%, 70%{
        height: 2px;
        width: 100vw;
    }

    100%{
        width: 100%;
        height: 5em;
    }

}

@keyframes fade-in-right {
    0%{
        opacity: 0;
        transform: translateX(var(--sideFadeDistance) );
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0%{
        opacity: 0;
        transform: translateX(calc(-1 * var(--sideFadeDistance)));
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in-up {
    0%{
        opacity: 0;
        transform: translateY(var(--sideFadeDistance));
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0%{
        opacity: 0;
        transform: translateY(calc(-1 * var(--sideFadeDistance)));
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

